<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Document</title>
</head>

<body>
    <div id="app">

        <User-componant :familly="familly" :tata="users" />
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./main.js" type="module"></script>

</html>


<!-- **************************************************************************************************************** -->
















<!-- ********************************************************************************************************************** -->
export default Vue.component('UserComponant', {

// Le template HTML
template: `
<div>
    <ul>
        <li v-for="mb of familly">{{mb}}</li>
    </ul>
    <table>
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Class</th>
                <th>Formation</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="items of tata">
                <td v-for="item of items">{{ item }} </td>
                <button @click="items.formation=!items.formation"> Mise à jour </button>
            </tr>
        </tbody>
    </table>
</div>
`, // Attention à la virgule.. facile de l'oublier..
props: {
tata: Array,
familly: Array,
},
});

<!-- ***************************************************************************************************************************** -->