@import url("https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
/**********************************************************
 _____ _       _           _ 
|  __ | |     | |         | |
| |  \| | ___ | |__   __ _| |
| | __| |/ _ \| '_ \ / _` | |
| |_\ | | (_) | |_) | (_| | |
 \____|_|\___/|_.__/ \__,_|_|*/
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 1100px;
  margin: auto;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  margin: 0; /*enleve la marge autour de la page */
  background-color: #f2f2f2;
  color: #666;
}

section {
  background-color: white;
}

h1,
h2,
h3 {
  text-align: center;
  font-family: "Amaranth", sans-serif;
  color: #96b011;
}

h1 {
  font-size: 3.2rem;
}

ul {
  padding: 10px 0px;
  list-style: none;
}

figure {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: inline-block;
}

.clear {
  clear: both;
}

.button, .page_product .formulaires button, .selection a {
  color: #fff;
  background-color: #b09067;
  text-transform: uppercase;
  padding: 20px 20px;
}
.button:hover, .page_product .formulaires button:hover, .selection a:hover {
  background-color: rgba(176, 144, 103, 0.75);
}

.page_index h3,
.page_listing h2 {
  width: 100%;
  overflow: hidden;
}
.page_index h3::before, .page_index h3::after,
.page_listing h2::before,
.page_listing h2::after {
  content: "";
  display: inline-block;
  width: 100%;
  margin: 0 1rem 0 -100%;
  vertical-align: middle;
  border-bottom: 1px solid;
}
.page_index h3::after,
.page_listing h2::after {
  margin: 0 -100% 0 1rem;
}

/*
  _                    _           
 | |                  | |          
 | |__   ___  __ _  __| | ___ _ __ 
 | '_ \ / _ \/ _` |/ _` |/ _ | '__|
 | | | |  __| (_| | (_| |  __| |   
 |_| |_|\___|\__,_|\__,_|\___|_|   

*/
header {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: #96b011;
  text-align: center;
  color: #fff;
}
header a {
  color: #fff;
}

.angleHt {
  width: 95px;
  position: absolute;
  right: 0px;
  display: none;
}
@media screen and (min-width: 768px) {
  .angleHt {
    display: block;
    float: right;
  }
}

.bandeau {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

.blocHeader {
  padding: 130px 0 0px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .blocHeader {
    padding: 20px 20px;
  }
}
@media screen and (min-width: 768px) {
  .blocHeader .headerHt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 20px 0;
  }
}
.blocHeader nav {
  width: 100%;
}
.blocHeader ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.blocHeader ul li {
  text-transform: uppercase;
  margin-bottom: 30px;
}
.blocHeader ul li a {
  padding: 7px;
}
.blocHeader ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
@media screen and (min-width: 768px) {
  .blocHeader ul li {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {
  .blocHeader ul {
    flex-direction: row;
    margin-bottom: 0;
  }
}
.blocHeader .lienPanier {
  display: block;
  position: fixed;
  background-color: #96b011;
  font-size: 3rem;
  top: 60px;
  left: 0px;
  z-index: 10;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
  border-left: none;
  border-radius: 0px 200px 200px 0px;
}
@media screen and (min-width: 768px) {
  .blocHeader .lienPanier {
    display: flex;
    align-items: center;
    position: static;
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding-bottom: 0;
  }
}
.blocHeader .lienPanier i {
  border: solid white 1px;
  border-radius: 100% 100%;
  padding: 10px;
}
.blocHeader .lienPanier span.txt {
  font-size: 1.6rem;
  vertical-align: middle;
  margin-right: 10px;
  display: none;
}
@media screen and (min-width: 768px) {
  .blocHeader .lienPanier span.txt {
    display: inline;
  }
}
/*
   __            _            
  / _|          | |           
 | |_ ___   ___ | |_ ___ _ __ 
 |  _/ _ \ / _ \| __/ _ | '__|
 | || (_) | (_) | ||  __| |   
 |_| \___/ \___/ \__\___|_|   

*/
footer {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: #96b011;
  margin-top: 30px;
}
footer a {
  color: #fff;
}

.hautLarge {
  background-color: #879e0f;
}

.infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #879e0f;
  flex-direction: row;
  justify-content: space-around;
}
.infos a {
  display: block;
  width: 48%;
  padding: 30px 0;
  text-align: center;
  text-transform: uppercase;
  align-items: center;
  opacity: 0.5;
}
.infos a::before {
  font-family: FontAwesome;
  font-size: 30px;
  display: block;
  margin: 10px auto 10px auto;
}
.infos a:first-child::before {
  content: "\f023";
}
.infos a:nth-child(2)::before {
  content: "\f0d1";
}
.infos a:nth-child(3)::before {
  content: "\f3d1";
}
.infos a:nth-child(4)::before {
  content: "\f879";
}
.infos a:nth-child(5)::before {
  content: "\f058";
}
.infos a:hover {
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .infos a {
    width: 15%;
  }
}

.liensFooter {
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.liensFooter .navFooter {
  padding: 50px 30px;
}
@media screen and (min-width: 768px) {
  .liensFooter .navFooter {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1025px) {
  .liensFooter .navFooter {
    justify-content: space-around;
  }
}
@media screen and (min-width: 768px) {
  .liensFooter {
    width: 100%;
  }
}
.liensFooter strong {
  margin-top: 30px;
  color: white;
  text-transform: uppercase;
  font-family: "Amaranth", sans-serif;
  font-weight: normal;
  font-size: 2rem;
}
.liensFooter li {
  padding: 8px 0;
}
.liensFooter a {
  opacity: 0.5;
}
.liensFooter a:hover {
  opacity: 1;
}

.copyrightLarge {
  box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.1);
}

.copyright {
  padding: 15px 15px 30px 15px;
  text-align: center;
  color: #fff;
}
.copyright p {
  margin-bottom: 5px;
}
.copyright img {
  width: 60px;
}
.copyright a {
  text-decoration: underline;
}

main {
  line-height: 1.8;
}

.page_index h1,
.page_index h2 {
  font-size: 3.2rem;
}
.page_index h3 {
  font-size: 2.5rem;
}

.page_index aside,
.page_index .sliderSlick {
  display: none;
}
@media screen and (min-width: 768px) {
  .page_index aside,
.page_index .sliderSlick {
    display: block;
    text-align: center;
  }
  .page_index aside strong,
.page_index .sliderSlick strong {
    display: block;
    margin: 20px 0;
    color: #96b011;
    font-size: 4rem;
    font-family: "Amaranth", sans-serif;
    font-weight: normal;
  }
  .page_index aside .slick-prev,
.page_index .sliderSlick .slick-prev {
    left: 20px;
    z-index: 1;
  }
  .page_index aside .slick-next,
.page_index .sliderSlick .slick-next {
    right: 20px;
  }
  .page_index aside .slick-dots li button:before,
.page_index .sliderSlick .slick-dots li button:before {
    font-size: 15px;
  }
  .page_index aside small,
.page_index .sliderSlick small {
    display: inline-block;
    margin: 5px 0 30px 0;
  }
}

.choiseThe {
  margin-top: 30px;
  padding: 20px;
}
.choiseThe .itemsWrapper {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
@media screen and (min-width: 1025px) {
  .choiseThe .itemsWrapper {
    flex-wrap: nowrap;
  }
}
.choiseThe .itemsWrapper:hover a {
  opacity: 0.5;
}
.choiseThe .itemsWrapper a {
  width: 48%;
}
.choiseThe .itemsWrapper a figure {
  margin: 0;
  padding: 0;
  color: #666;
  text-align: center;
  font-family: "Amaranth", sans-serif;
}
.choiseThe .itemsWrapper a:hover {
  opacity: 1;
}

.page_index .prix {
  font-weight: 700;
}

.selection {
  margin-top: 30px;
  padding: 20px;
  text-align: center;
}
@media screen and (min-width: 1025px) {
  .selection .wrapSelection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
}
.selection article {
  padding: 0 15px;
}
@media screen and (min-width: 1025px) {
  .selection article {
    width: 33%;
  }
}
.selection figcaption {
  font-family: "Amaranth", sans-serif;
  font-size: 2rem;
}
.selection .prix {
  font-size: 2.4rem;
}
.selection a {
  display: inline-block;
}

.page_listing h2 {
  text-align: left;
  margin-bottom: 0px;
}
.page_listing h2::before {
  margin-right: 0px;
}
.page_listing h2 + p {
  text-align: left;
  margin-top: 0px;
}

.page_listing h3 {
  color: #666;
}

.page_product article {
  background-color: #fff;
  margin-top: 30px;
  padding: 30px 20px;
}
.page_product article h1 {
  font-size: 3.2rem;
}
.page_product .unchecked {
  color: #666;
}
.page_product .checked {
  color: rgb(255, 217, 0);
}
.page_product .description {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.page_product .description .wrapperDesignation {
  color: #666;
}
.page_product .description .wrapperDesignation p {
  font-family: "Amaranth", sans-serif;
  font-size: 2rem;
  margin-top: 5px;
}
.page_product .description .wrapperDesignation h2 {
  color: #666;
  font-size: 2.5rem;
  margin: 0px;
}
@media screen and (min-width: 768px) {
  .page_product .description .wrapperDesignation {
    width: 50%;
    text-align: left;
  }
  .page_product .description .wrapperDesignation .ref {
    display: inline-block;
    text-align: center;
  }
}
.page_product .description .wrapperRatings {
  margin-top: 20px;
  color: #96b011;
}
@media screen and (min-width: 768px) {
  .page_product .description .wrapperRatings {
    width: 50%;
    margin-top: 0px;
    text-align: right;
  }
}
.page_product .description .wrapperRatings .text {
  color: #96b011;
}
@media screen and (min-width: 768px) {
  .page_product .description {
    flex-direction: row;
    align-items: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .page_product .description img {
    max-width: 50%;
    margin-top: 20px;
  }
}
.page_product .formulaires {
  width: 100%;
}
.page_product .formulaires select {
  width: 100%;
  font-size: 1.6rem;
  border: 1px solid lightgrey;
  padding: 10px;
  background: linear-gradient(90deg, rgb(255, 255, 255) calc(100% - 20px), rgb(164, 149, 149) calc(100% - 20px), rgb(164, 149, 149) calc(100% - 19px), #f2f2f2 20px);
}
.page_product .formulaires div {
  font-size: 4rem;
  font-family: "Amaranth", sans-serif;
  width: 100%;
}
.page_product .formulaires button {
  margin-top: 30px;
  font-size: 1.6rem;
  width: 100%;
  border: none;
  color: #f2f2f2;
}
.page_product .formulaires .wishList {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #96b011;
  background-color: #fff;
  margin: 10px 0 0 0;
  text-transform: none;
}
.page_product .formulaires .wishList::before {
  font-family: FontAwesome;
  color: #e7877a;
  display: inline-block;
  margin: 0 5px;
  content: "\f004";
}
.page_product .formulaires .wishList:hover {
  color: #fff;
}
@media screen and (min-width: 768px) {
  .page_product .formulaires {
    width: 50%;
    text-align: right;
    margin-top: 20px;
  }
}
.page_product p:nth-last-child(-n+2) {
  font-weight: bold;
}

.page_about section {
  margin-top: 30px;
  padding: 30px 20px;
}
.page_about section h1 {
  font-size: 3.2rem;
  text-align: center;
}
.page_about section h2 {
  color: #666;
  font-size: 2.5rem;
  margin: 0px;
  text-align: left;
}
.page_about section h3 {
  text-align: left;
}
.page_about section .imgLeft {
  float: left;
  margin-right: 20px;
}
.page_about section .imgRight {
  float: right;
  margin-left: 20px;
}
.page_about section .concept {
  background-color: rgba(150, 176, 17, 0.2);
  padding: 45px 15px;
  text-align: center;
}
.page_about section .concept h3 {
  color: #666;
  text-align: center;
}
.page_about section .concept h3::before {
  content: "";
  background-size: cover;
  position: relative;
  margin: 20px auto 20px auto;
  padding: 5px;
  display: block;
  width: 70px;
  height: 70px;
  display: block;
  background-image: url("../img/concept/1.svg");
}
.page_about section .concept h3.deux::before {
  background-image: url("../img/concept/2.svg");
}
.page_about section .concept h3.trois::before {
  background-image: url("../img/concept/3.svg");
}
@media screen and (min-width: 1025px) {
  .page_about section .concept {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .page_about section .concept div {
    width: 32%;
  }
}/*# sourceMappingURL=style.css.map */